intellij-oj-xxl-job-master/.idea
intellij-oj-xxl-job-master/doc
intellij-oj-xxl-job-master/.classpath
intellij-oj-xxl-job-master/.project
intellij-oj-xxl-job-master/*.iml
intellij-oj-xxl-job-master/target
intellij-oj-xxl-job-master/.DS_Store
intellij-oj-xxl-job-master/.gitattributes
intellij-oj-xxl-job-master/xxl-job-admin/target
intellij-oj-xxl-job-master/xxl-job-admin/Dockerfile
intellij-oj-xxl-job-master/xxl-job-core/target
intellij-oj-xxl-job-master/xxl-job-executor-sample-springboot/Dockerfile

jbackend/.idea
jbackend/target
jbackend/*.iws
jbackend/*.iml
jbackend/*.ipr
jbackend/mvnw
jbackend/mvnw.cmd
jbackend/.mvn
jbackend/HELP.md
jbackend/target/
jbackend/!.mvn/wrapper/maven-wrapper.jar
jbackend/!**/src/main/**/target/
jbackend/!**/src/test/**/target/

pybackend/.idea

web/node_modules/
web/.vscode
web/build
web/*.log*

.vscode/